/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #009596;
  --ifm-font-family-base: 'Poppins';
  --ifm-code-font-size: 80%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #009596;
  --ifm-font-family-base: 'Poppins';
  --ifm-code-font-size: 80%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

svg.darkToggleIcon_node_modules-\@docusaurus-theme-classic-lib-next-theme-ColorModeToggle-styles-module {
  width: 16px;
}

svg.lightToggleIcon_node_modules-\@docusaurus-theme-classic-lib-next-theme-ColorModeToggle-styles-module {
  width: 16px;
}

@media screen {
  article header h1 {
    font-size: 1.75rem !important;
  }
  article header h2 {
    font-size: 1.5rem !important;
  }
}

/* prism magic comments https://docusaurus.io/docs/markdown-features/code-blocks#custom-magic-comments */

.code-block-add-line {
  background-color: rgba(0, 215, 0, 0.25);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid rgba(0, 215, 0);
}

.code-block-remove-line {
  background-color: rgba(255, 0, 0, 0.25);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid rgba(255, 0, 0);
}

.code-block-highlight-line {
  background-color: rgba(0, 0, 0, 0.075);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid rgb(0, 0, 0, 0.5);
}

[data-theme='dark'] .code-block-add-line {
  background-color: rgba(0, 255, 0, 0.2);
  border-left: 3px solid rgba(0, 255, 0, 0.5);
}

[data-theme='dark'] .code-block-remove-line {
  background-color: rgba(255, 0, 0, 0.25);
  border-left: 3px solid rgba(255, 0, 0, 0.5);
}

[data-theme='dark'] .code-block-highlight-line {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgb(255, 255, 255, 0.5);
}

/* #endregion */
