/* Override Nextra defaults */
article.nextra-body-typesetting-article {
  line-height: 1.75;
}
article.nextra-body-typesetting-article p {
  line-height: 1.75 !important;
}

article.nextra-body-typesetting-article h1,
article.nextra-body-typesetting-article h2,
article.nextra-body-typesetting-article h3,
article.nextra-body-typesetting-article h4 {
  line-height: 1.25 !important;
}
