@import 'tailwindcss/utilities';

/* Override the Tailwind preflight */
button[type='submit'] {
  @apply bg-black;
}

code {
  @apply text-sm;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

.list,
.list:focus-visible,
.list:focus {
  outline: none !important;
  box-shadow: none !important;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
  }

  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  .wrapper {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    animation: slidein 120s linear infinite;
    filter: grayscale(100%);
  }
}
